Host *
	ForwardAgent yes
	ServerAliveInterval 3
	ServerAliveCountMax 20
	TCPKeepAlive no
	ControlMaster auto
	ControlPath ~/.ssh/%h-%p-%r
	ControlPersist 4h
	Compression yes

Host bwh
    HostName 198.181.43.6
    User root
    Port 27848
    IdentityFile ~/.ssh/id_rsa

Host pi
    HostName 172.23.237.55
    User pi
    Port 22
    IdentityFile ~/.ssh/id_rsa

Host workdev
    HostName 192.168.0.59
    User st
    Port 22
    IdentityFile ~/.ssh/id_rsa

Host jailbreak_ios
	HostName 127.0.0.1
	Port 4567
	User root

Host ubuntu16
	HostName 192.168.1.5
	User liucien

Host ubuntu16_root
	HostName 192.168.1.5
	User root

Host 192.168.1.253
	HostName 192.168.1.253
	User root
